*.o
*.d
.DS_Store

lariad/lariad
lariad/lariad.exe
lariad/saavgaam
lariad/config.lua
lariad/script/debug.lua

lua-5.1/src/liblua.a
lua-5.1/src/lua
lua-5.1/src/luac
lua-5.1/src/lua*.exe
lua-5.1/src/lua*.dll

/macosx-xcode3/Lariad.mac/build
/macosx-xcode3/Lariad.mac/Lariad.mac.xcodeproj/atis.*
